.game-bar {
  background-color: var(--main-color);
  box-shadow: 1px 1px 8px black;
  padding: 1.8rem;
  position: relative;
  justify-self: end;

  .game-bar__time {
    margin: 0;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    right: 20px;
  }

  .game-bar__inventory {
    gap: 1rem;
    justify-self: center;
    .item-slot {
      height: 30px;
      width: 30px;
      background-color: rgba(0, 0, 0, 0.267);
      box-shadow: inset 1px 5px 8px rgba(0, 0, 0, 0.616);
      padding: 0.1rem;

      img {
        position: relative;
        z-index: 6;
      }
    }
  }

  .game-bar__tablet {
    max-width: 55px;
    position: absolute;
    left: 20px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    filter: drop-shadow(1px 2px 8px rgba(0, 0, 0, 0.596));
  }

  .fa-gear {
    position: absolute;
    z-index: 2;
    font-size: 1.4rem;
    bottom: 10px;
    right: 20px;
    color: white;
    opacity: 0.3;
    transition: 1s;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

.game-quest-modal {
  position: absolute;
  padding: 1rem 1.5rem;
  z-index: 7;
  background-color: #40325a;
  width: 100%;
  bottom: -120px;
  min-height: 115px;
  box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.822);
  transition: 1s;
  border-top: 4px solid var(--dark-color);

  ul {
    list-style: none;
    gap: 0.3rem;

    .quest-text {
      color: white;
      gap: 0.4rem;

      .quest-checkbox {
        width: 20px;
        height: 20px;
        background-color: rgba(0, 0, 0, 0.267);
      }
    }
  }

  .fa-circle-xmark {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    cursor: pointer;
    opacity: 0.3;
    transition: 1s;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

.game-quest-modal--shown {
  transform: translateY(-100%);
}

.black-screen {
  position: absolute;
  top: 0;
  justify-content: space-around;
  opacity: 0;
  z-index: 7;
  background-color: rgba(0, 0, 0, 0.808);
  height: 100dvh;
  animation: fade-in 1.3s 0.8s forwards;

  p {
    opacity: 0;
    color: white;
    text-align: center;
    pointer-events: none;
    animation: scale-up 1.5s 1s forwards;
  }

  .black-screen__item-name {
    font-size: 2rem;
  }

  .black-screen__item-desc {
    font-size: 1.2rem;
    width: 90%;
  }
}

.zoomed-item--a {
  z-index: 8;
  position: absolute;
  animation: zoom-item-a 2s forwards;
}
.zoomed-item--b {
  z-index: 8;
  position: absolute;
  animation: zoom-item-b 2s forwards;
}
.zoomed-item--c {
  z-index: 8;
  position: absolute;
  animation: zoom-item-c 2s forwards;
}
.zoomed-item--d {
  z-index: 8;
  position: absolute;
  animation: zoom-item-d 2s forwards;
}

@keyframes zoom-item-a {
  0% {
    height: 26px;
    width: 26px;
    z-index: 8;
  }
  100% {
    z-index: 8;
    position: absolute;
    height: 250px;
    width: 250px;
    transform: translate(-20%, -60vh);
  }
}
@keyframes zoom-item-b {
  0% {
    height: 26px;
    width: 26px;
    z-index: 8;
  }
  100% {
    z-index: 8;
    position: absolute;
    height: 250px;
    width: 250px;
    transform: translate(-35%, -60vh);
  }
}
@keyframes zoom-item-c {
  0% {
    height: 26px;
    width: 26px;
    z-index: 8;
  }
  100% {
    z-index: 8;
    position: absolute;
    height: 250px;
    width: 250px;
    transform: translate(-50%, -60vh);
  }
}

@keyframes zoom-item-d {
  0% {
    height: 26px;
    width: 26px;
    z-index: 8;
  }
  100% {
    z-index: 8;
    position: absolute;
    height: 250px;
    width: 250px;
    transform: translate(-70%, -60vh);
  }
}
