<!-- GAME BAR -->
<div class="game-bar flex--ctr flex--al">
  <div class="game-bar__tablet" (click)="toggleQuestModal()">
    <img src="../../../assets/images/pictos/tablet.webp" />
  </div>
  <div
    *ngIf="userInventory$ | async as userInventory"
    class="game-bar__inventory flex"
  >
    <div class="item-slot">
      <div
        class="item-image-wrapper"
        [ngClass]="{ 'zoomed-item--a': isItemAZoomed }"
      >
        <img
          *ngIf="userInventory.length"
          [src]="itemsImage[userInventory[0]]"
          (click)="toggleItemZoom('A')"
        />
      </div>
    </div>
    <div class="item-slot">
      <div
        class="item-image-wrapper"
        [ngClass]="{ 'zoomed-item--b': isItemBZoomed }"
      >
        <img
          *ngIf="userInventory.length > 1"
          [src]="itemsImage[userInventory[1]]"
          (click)="toggleItemZoom('B')"
        />
      </div>
    </div>
    <div class="item-slot">
      <div
        class="item-image-wrapper"
        [ngClass]="{ 'zoomed-item--c': isItemCZoomed }"
      >
        <img
          *ngIf="userInventory.length > 2"
          [src]="itemsImage[userInventory[2]]"
          (click)="toggleItemZoom('C')"
        />
      </div>
    </div>
    <div class="item-slot">
      <div
        class="item-image-wrapper"
        [ngClass]="{
          'zoomed-item--d': isItemDZoomed
        }"
      >
        <img
          *ngIf="userInventory.length > 3"
          [src]="itemsImage[userInventory[3]]"
          (click)="toggleItemZoom('D')"
        />
      </div>
    </div>
  </div>
  <h3 class="game-bar__time">{{ runLightYears$ | async }} LY</h3>
  <i (click)="onSettings()" class="fa-solid fa-gear"></i>
</div>
<!-- QUEST MODAL -->
<div
  class="game-quest-modal"
  [ngClass]="{ 'game-quest-modal--shown': isQuestModalShown }"
>
  <i class="fa-solid fa-circle-xmark" (click)="toggleQuestModal()"></i>
  <ul *ngIf="questPool$ | async as questPool" class="flex--col">
    <li *ngFor="let quest of questPool" class="quest-text flex--al">
      <div class="quest-checkbox"></div>
      {{ quest.questText }}
    </li>
  </ul>
</div>
<!-- GAME SETTINGS -->
<app-game-settings
  (closeSettingsEvent)="onSettings()"
  [isSettingsModalShown]="isSettingsModalShown"
></app-game-settings>
<!-- ITEM ZOOM -->
<div
  *ngIf="isItemAZoomed || isItemBZoomed || isItemCZoomed || isItemDZoomed"
  class="black-screen flex--col flex--al"
  (click)="toggleItemZoom('REMOVE')"
>
  <p class="black-screen__item-name">{{ currentZoomedItem.name }}</p>
  <p class="black-screen__item-desc">{{ currentZoomedItem.desc }}</p>
</div>
