<div class="game">
  <img
    class="game-background"
    src="../../../assets/images/backgrounds/space.webp"
  />
  <div
    class="game-content flex--col"
    [ngClass]="{ 'moving-background' : isBackgroundMoving$ | async }"
    [ngStyle]="{
      background:
        (isGameOver$ | async) ? gameOverBackground : (gameBackground$ | async)
    }"
  >
    <app-gauge *ngIf="(isGameOver$ | async) === false"></app-gauge>
    <app-event-card
      [event$]="currentEvent$"
      *ngIf="!(isGameOver$ | async)"
    ></app-event-card>
    <app-game-over *ngIf="isGameOver$ | async"></app-game-over>
    <app-game-bar *ngIf="(isGameOver$ | async) === false"></app-game-bar>
    <div *ngIf="shipDoorTransition$ | async" class="door-transition">
      <img src="../../../assets/images/backgrounds/ship-door.webp" />
    </div>
  </div>
</div>
<app-snackbar [snackEvent]="snackbarMessage$"></app-snackbar>
