<div class="gauge flex--ctr flex--al">
  <div class="gauge-patron">
    <img src="../../../assets/images/pictos/icons.png" />
  </div>
  <div class="gauge-icons__gauges flex--ctr">
    <div
      [ngStyle]="{
        height:
          (gaugesService.timeGauge$
            | async
            | divideByTwo: (itemService.chronicubeRelic$ | async) === true) +
          '%',
        backgroundColor:
          (gaugesService.highlightTimeGauge$ | async)
            ? 'var(--highlight-gauge)'
            : 'white'
      }"
      class="gauge-box"
    ></div>
    <div
      [ngStyle]="{
        height:
          (gaugesService.energyGauge$
            | async
            | divideByTwo: (itemService.chronicubeRelic$ | async) === true) +
          '%',
        backgroundColor:
          (gaugesService.highlightEnergyGauge$ | async)
            ? 'var(--highlight-gauge)'
            : 'white'
      }"
      class="gauge-box"
    ></div>
    <div
      [ngStyle]="{
        height:
          (gaugesService.healthGauge$
            | async
            | divideByTwo: (itemService.chronicubeRelic$ | async) === true) +
          '%',
        backgroundColor:
          (gaugesService.highlightHealthGauge$ | async)
            ? 'var(--highlight-gauge)'
            : 'white'
      }"
      class="gauge-box"
    ></div>
    <div
      [ngStyle]="{
        height:
          (gaugesService.mentalGauge$
            | async
            | divideByTwo: (itemService.chronicubeRelic$ | async) === true) +
          '%',
        backgroundColor:
          (gaugesService.highlightMentalGauge$ | async)
            ? 'var(--highlight-gauge)'
            : 'white'
      }"
      class="gauge-box"
    ></div>
  </div>
</div>
