<div class="gauge flex--ctr flex--al">
  <div class="gauge-patron">
    <img src="../../../assets/images/pictos/icons.png" />
  </div>
  <div class="gauge-icons__gauges flex--ctr">
    <div
      [ngStyle]="{
        height:
          (timeGauge$
            | async
            | divideByTwo : (chronicubeRelic$ | async) === true) + '%',
        backgroundColor:
          (highlightTimeGauge$ | async) ? 'var(--highlight-gauge)' : 'white'
      }"
      class="gauge-box"
    ></div>
    <div
      [ngStyle]="{
        height:
          (energyGauge$
            | async
            | divideByTwo : (chronicubeRelic$ | async) === true) + '%',
        backgroundColor:
          (highlightEnergyGauge$ | async) ? 'var(--highlight-gauge)' : 'white'
      }"
      class="gauge-box"
    ></div>
    <div
      [ngStyle]="{
        height:
          (healthGauge$
            | async
            | divideByTwo : (chronicubeRelic$ | async) === true) + '%',
        backgroundColor:
          (highlightHealthGauge$ | async) ? 'var(--highlight-gauge)' : 'white'
      }"
      class="gauge-box"
    ></div>
    <div
      [ngStyle]="{
        height:
          (mentalGauge$
            | async
            | divideByTwo : (chronicubeRelic$ | async) === true) + '%',
        backgroundColor:
          (highlightMentalGauge$ | async) ? 'var(--highlight-gauge)' : 'white'
      }"
      class="gauge-box"
    ></div>
  </div>
</div>
